<!DOCTYPE html>
<html>
    <head>    
        <title>{{title}}</title>
    </head>
    <body class="container">  
        <h1>{{titre}}</h1>  
        <p id="main-paragraphe" class="center">{{content}}</p>
        <ul>
            <li>Nom: {{name}}</li>
            {{#if lvl}}<li>Lvl: {{lvl}}</li>{{/if}}
            {{#if pv}}<li>PV: {{pv}}</li>{{/if}}
            {{#if pa}}<li>PA: {{pa}}</li>{{/if}}
            {{#if pm}}<li>PM: {{pm}}</li>{{/if}}
            {{#if po}}<li>PO: {{po}}</li>{{/if}}
            {{#if ini}}<li>Initiative: {{ini}}</li>{{/if}}
            {{#if invo}}<li>Invocation: {{invo}}</li>{{/if}}
            {{#if critique}}<li>Critique: {{critique}}</li>{{/if}}
            {{#if prosp}}<li>Propsection: {{prosp}}</li>{{/if}}
            {{#if soin}}<li>Soins: {{soin}}</li>{{/if}}
            {{#if sag}}<li>Sagesse: {{sag}}</li>{{/if}}
            {{#if fo}}<li>Force: {{fo}}</li>{{/if}}
            {{#if int}}<li>Inteligence: {{int}}</li>{{/if}}
            {{#if cha}}<li>Chance: {{cha}}</li>{{/if}}
            {{#if agi}}<li>Agilité: {{agi}}</li>{{/if}}
            {{#if pui}}<li>Puissance: {{pui}}</li>{{/if}}
            {{#if fui}}<li>Fuite: {{fui}}</li>{{/if}}
            {{#if esq_pa}}<li>Esquive PA: {{esq_pa}}</li>{{/if}}
            {{#if esq_pm}}<li>Esquive PM: {{esq_pm}}</li>{{/if}}
            {{#if ret_pa}}<li>Retrait PA: {{ret_pa}}</li>{{/if}}
            {{#if ret_pm}}<li>Retrait PM: {{ret_pm}}</li>{{/if}}
            {{#if pod}}<li>Pods: {{pod}}</li>{{/if}}
            {{#if dmg_piege}}<li>Dommage piège: {{dmg_piege}}</li>{{/if}}
            {{#if pui_piege}}<li>Puissance piège: {{pui_piege}}</li>{{/if}}
            {{#if renvoie_dmg}}<li>Renvoie de dommage: {{renvoie_dmg}}</li>{{/if}}
            {{#if bou}}<li>Bouclier: {{bou}}</li>{{/if}}
            {{#if dmg_f_neutre}}<li>Dommage fix neutre: {{dmg_f_neutre}}</li>{{/if}}
            {{#if dmg_f_terre}}<li>Dommage fix terre: {{dmg_f_terre}}</li>{{/if}}
            {{#if dmg_f_feu}}<li>Dommage fix feu: {{dmg_f_feu}}</li>{{/if}}
            {{#if dmg_f_chance}}<li>Dommage fix chance: {{dmg_f_chance}}</li>{{/if}}
            {{#if dmg_f_air}}<li>Dommage fix air: {{dmg_f_air}}</li>{{/if}}
            {{#if re_f_neutre}}<li>Résistance fix neutre: {{re_f_neutre}}</li>{{/if}}
            {{#if re_f_terre}}<li>Résistance fix terre: {{re_f_terre}}</li>{{/if}}
            {{#if re_f_feu}}<li>Résistance fix feu: {{re_f_feu}}</li>{{/if}}
            {{#if re_f_chance}}<li>Résistance fix chance: {{re_f_chance}}</li>{{/if}}
            {{#if re_f_air}}<li>Résistance fix air: {{re_f_air}}</li>{{/if}}
            {{#if re_x_neutre}}<li>Résistance % neutre: {{re_x_neutre}}</li>{{/if}}
            {{#if re_x_terre}}<li>Résistance % terre: {{re_x_terre}}</li>{{/if}}
            {{#if re_x_feu}}<li>Résistance % feu: {{re_x_feu}}</li>{{/if}}
            {{#if re_x_chance}}<li>Résistance % chance: {{re_x_chance}}</li>{{/if}}
            {{#if re_x_mele}}<li>Résistance % mélé: {{re_x_mele}}</li>{{/if}}
            {{#if re_x_distance}}<li>Résistance % distance: {{re_x_distance}}</li>{{/if}}
            {{#if re_x_arme}}<li>Résistance % arme: {{re_x_arme}}</li>{{/if}}
            {{#if re_x_sorts}}<li>Résistance % sorts: {{re_x_sorts}}</li>{{/if}}
            {{#if dmg_x_mele}}<li>Dommage % mélé: {{dmg_x_mele}}</li>{{/if}}
            {{#if dmg_x_distance}}<li>Dommage % distance: {{dmg_x_distance}}</li>{{/if}}
            {{#if dmg_x_arme}}<li>Dommage % arme: {{dmg_x_arme}}</li>{{/if}}
            {{#if dmg_x_sorts}}<li>Dommage % sorts: {{dmg_x_sorts}}</li>{{/if}}
            {{#if dmg_crit}}<li>Dommage critique: {{dmg_crit}}</li>{{/if}}
            {{#if dmg_pousse}}<li>Dommage poussée: {{dmg_pousse}}</li>{{/if}}
            {{#if re_crit}}<li>Résistance critique: {{re_crit}}</li>{{/if}}
            {{#if re_pousse}}<li>Résistance poussée: {{re_pousse}}</li>{{/if}}

        </ul>
    </body>
</html>