extends ../layout

block content
    h1.pt-5.pb-3 CAPES
    div.row
      each cape, index in capes
        div.col-lg-2
          div.card.h-100.bg-dark.text-light
            img.card-img-top(src="/images/"+cape.img)
            div.card-body
              if cape.name
                h5.card-title= cape.name
              if cape.lvl
                p.card-text.mb-0= "Lvl: " + cape.lvl
              if cape.pv
                p.card-text.mb-0= "Pv: " + cape.pv
              if cape.pa
                p.card-text.mb-0= "Pa: " + cape.pa
              if cape.pm
                p.card-text.mb-0= "Pm: " + cape.pm
              if cape.po
                p.card-text.mb-0= "Po: " + cape.po
              if cape.ini
                p.card-text.mb-0= "Initiative: " + cape.ini
              if cape.invo
                p.card-text.mb-0= "Invocation: " + cape.invo
              if cape.critique
                p.card-text.mb-0= "Critique: " + cape.critique
              if cape.prosp
                p.card-text.mb-0= "Prospection: " + cape.prosp
              if cape.soin
                p.card-text.mb-0= "Soin: " + cape.soin
              if cape.sag
                p.card-text.mb-0= "Sagesses: " + cape.sag
              if cape.fo
                p.card-text.mb-0= "Force: " + cape.fo
              if cape.int
                p.card-text.mb-0= "Intelligence: " + cape.int
              if cape.cha
                p.card-text.mb-0= "Chance: " + cape.cha
              if cape.agi
                p.card-text.mb-0= "Agilité: " + cape.agi
              if cape.pui
                p.card-text.mb-0= "Puissance: " + cape.pui
              if cape.fui
                p.card-text.mb-0= "Fuite: " + cape.fui
              if cape.esq_pa
                p.card-text.mb-0= "Esquive PA: " + cape.esq_pa
              if cape.esq_pm
                p.card-text.mb-0= "Esquive PM: " + cape.esq_pm
              if cape.ret_pa
                p.card-text.mb-0= "Retrait PA: " + cape.ret_pa
              if cape.ret_pm
                p.card-text.mb-0= "Retrait PM: " + cape.ret_pm
              if cape.pod
                p.card-text.mb-0= "Pods: " + cape.pod
              if cape.dmg_piege
                p.card-text.mb-0= "Dommage Piège: " + cape.dmg_piege
              if cape.pui_piege
                p.card-text.mb-0= "Puissance Piège: " + cape.pui_piege
              if cape.renvoie_dmg
                p.card-text.mb-0= "Renvoie de Dommage: " + cape.renvoie_dmg
              if cape.bou
                p.card-text.mb-0= "Bouclier: " + cape.bou
              if cape.dmg_f_neutre
                p.card-text.mb-0= "Dommage Fix Neutre: " + cape.dmg_f_neutre
              if cape.dmg_f_terre
                p.card-text.mb-0= "Dommage Fix Terre: " + cape.dmg_f_terre
              if cape.dmg_f_feu
                p.card-text.mb-0= "Dommage Fix Feu: " + cape.dmg_f_feu
              if cape.dmg_f_chance
                p.card-text.mb-0= "Dommage Fix Chance: " + cape.dmg_f_chance
              if cape.dmg_f_air
                p.card-text.mb-0= "Dommage Fix Air: " + cape.dmg_f_air
              if cape.re_f_neutre
                p.card-text.mb-0= "Résistance Fix Neutre: " + cape.re_f_neutre
              if cape.re_f_terre
                p.card-text.mb-0= "Résistance Fix Terre: " + cape.re_f_terre
              if cape.re_f_feu
                p.card-text.mb-0= "Résistance Fix Feu: " + cape.re_f_feu
              if cape.re_f_chance
                p.card-text.mb-0= "Résistance Fix Chance: " + cape.re_f_chance
              if cape.re_f_air
                p.card-text.mb-0= "Résistance Fix Air: " + cape.re_f_air
              if cape.re_x_neutre
                p.card-text.mb-0= "Résistance % Neutre: " + cape.re_x_neutre
              if cape.re_x_terre
                p.card-text.mb-0= "Résistance % Terre: " + cape.re_x_terre
              if cape.re_x_feu
                p.card-text.mb-0= "Résistance % Feu: " + cape.re_x_feu
              if cape.re_x_chance
                p.card-text.mb-0= "Résistance % Chance: " + cape.re_x_chance
              if cape.re_x_mele
                p.card-text.mb-0= "Résistance % Mélé: " + cape.re_x_mele
              if cape.re_x_distance
                p.card-text.mb-0= "Résistance % Distance: " + cape.re_x_distance
              if cape.re_x_arme
                p.card-text.mb-0= "Résistance % Arme: " + cape.re_x_arme
              if cape.re_x_sorts
                p.card-text.mb-0= "Résistance % Sort: " + cape.re_x_sorts
              if cape.dmg_x_mele
                p.card-text.mb-0= "Dommage % Mélé: " + cape.dmg_x_mele
              if cape.dmg_x_distance
                p.card-text.mb-0= "Dommage % Distance: " + cape.dmg_x_distance
              if cape.dmg_x_arme
                p.card-text.mb-0= "Dommage % Arme: " + cape.dmg_x_arme
              if cape.dmg_x_sorts
                p.card-text.mb-0= "Dommage % Sort: " + cape.dmg_x_sorts
              if cape.dmg_crit
                p.card-text.mb-0= "Dommage Critique: " + cape.dmg_crit
              if cape.dmg_pousse
                p.card-text.mb-0= "Dommage Poussé: " + cape.dmg_pousse
              if cape.re_crit
                p.card-text.mb-0= "Résistance Critique: " + cape.re_crit
              if cape.re_pousse
                p.card-text.mb-0= "Résistance Poussé: " + cape.re_pousse
            if session 
              form(action="add/"+cape.id+'?_method=PATCH', method='POST')
                .row.justify-content-center
                  .col-6
                    input.d-none(type='text', name='id' value=perso.id)
                    input.btn.btn-lg.btn-primary(type='submit', value='Ajouter')